body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    color: #333;
}

/* NAVBAR SUPERIOR */
.navbar {
    width: 100%;
    background: #0066ff;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px 25px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
}

.system-title {
    font-weight: bold;
    font-size: 20px;
}

.nav-links a {
    color: white;
    margin-left: 18px;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* ÁREA DE CONTEÚDO */
.content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-top: 25px;
}
