{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/client_list.css' %}">
{% endblock %}

{% block content %}
<div class="container"> <div class="list-header">
        <h2>Lista de Clientes</h2>
    </div>

    <table class="client-table">
        <thead>
            <tr>
                <th>Nome / Razão Social</th>
                <th>Tipo</th>
                <th>Contato (E-mail/Telefone)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client }}</td> 
                <td>{{ client.get_client_type_display }}</td> 
                <td>{{ client.email|default:client.phone }}</td>
                <td>
                    <a href="{% url 'clients:client_edit' client.pk %}" class="btn-edit">Editar</a>
                    <a href="{% url 'clients:client_delete' client.pk %}" class="btn-delete">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum cliente cadastrado ainda.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
        <a href="{% url 'clients:client_select_type' %}" class="btn-green">
            Cadastrar Novo Cliente
        </a>

</div>
{% endblock %}